* {
    box-sizing: border-box;
}

.carre {
    width: 150px;
    height: 150px;
    background-color: red;
    transition: transform 1s 1s, background-color 2s;
}

.carre:hover {
    background-color: yellow;
    transform: rotate(360deg);
    animation-duration: 0;
}